body{
  overflow-x: hidden;
}

.gnavi li{
  position: relative;
    margin:0 10px;
}


.gnavi li::before,
.gnavi li::after{
  content:"";
    
  position: absolute;
  
  width: 0;
  height:2px;
  background:#05b6e757;

  transition: all 0.8s ease;
  transition-delay: 0.8s;
}

.gnavi li::before{
  right: 0;
  top: 0;
}
.gnavi li::after{
  left: 0;
  bottom: 0;
}



.gnavi li span{
  display: block;
}

.gnavi li span::before,
.gnavi li span::after{
  content:"";

  position: absolute;

  width:2px;
  height:0;
  background:#05b6e757;

  transition: all 0.8s linear;
}

.gnavi li span::before{
  left: 0;
  top: 0;
}
.gnavi li span::after{
  right: 0;
  bottom: 0;
}


.gnavi li.current::before,
.gnavi li.current::after,
.gnavi li:hover::before,
.gnavi li:hover::after{
  width: 100%;
}

.gnavi li.current span::before,
.gnavi li.current span::after,
.gnavi li:hover span::before,
.gnavi li:hover span::after{
  height: 100%;
}

@media screen and (max-width:800px) {
.gnavi li{
    margin:0;
}

}
